{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<form method="post">
   

    
 
   
    <div class="card" style="width: 30%;  padding : 30px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -70%); ">
        <h2>Connexion</h2>
        <label for="inputLogin">Login</label>
        <input type="text" value="{{ last_username }}" name="login" id="inputLogin" class="form-control" required autofocus>
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >
    

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}

        <button class="btn btn-lg btn-primary right" style='margin-top: 10px ; margin-bottom:10px;' type="submit">
           Valider
        </button>
         {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        {% if app.user %}
        <div class="alert alert-success">
            Vous ête connectez en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    {% endif %}
    </div>

</form>

{% endblock %}
