<form method="post" name="stautchange" action="{{ path('editeur_new', {'id': client.id})}}" id="editFormStatut">
    <div class="mb-3">
        <label for="user" class="form-label w-15">Editeur</label>
        <select name="user" class="form-select w-85 inline-block" id="editeur-select">
            {% for user in users %}
                <option value={{user.id}}>{{user.login}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label for="etat" class="form-label w-15">Etat</label>
        <select name="etat" class="form-select w-85 inline-block" id="etat-select">
            {% for etat in etats %}
                <option value={{etat.id}}>{{etat.statut}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3 text-right">
        <input type="checkbox" class="form-check-input" name="mail" checked>
        <label class="form-check-label" for="mail">
            Informer le client
        </label>
    </div>
    <input type="hidden" name="_token" value="{{ csrf_token('editeurChange' ~ client.id) }}">
    <input type="hidden" name="date" value="{{ "now"|date("m/d/Y H:i:s") }}">
    <div> 
        <button type="submit" id="sendFormStatut" value="{{path('editeur_new', {'id': client.id})}}">Valider</button>
    </div>
</form>