<form method="post" action="{{ path('editeur_new', {'id': client.id})}}" id="editChange">
    <label for="user">Editeur : </label>
    <select name="user" id="editeur-select">
        {% for user in users %}
            <option value={{user.id}}>{{user.login}}</option>
        {% endfor %}
    </select>
    <label for="etat">Etat: </label>
    <select name="etat" id="etat-select">
        {% for etat in etats %}
            <option value={{etat.id}}>{{etat.statut}}</option>
        {% endfor %}
    </select>
    <label for="mail">Informer le client: </label>
    <input type="checkbox" name="mail">
    <input type="hidden" name="_token" value="{{ csrf_token('editeurChange' ~ client.id) }}">
    <input type="submit" value="Valider">
</form>