{% extends 'base.html.twig' %}

{% block title %}Editeur index{% endblock %}

{% block body %}
    <h1>Editeur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for editeur in editeurs %}
            <tr>
                <td>{{ editeur.id }}</td>
                <td>{{ editeur.date ? editeur.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('editeur_show', {'id': editeur.id}) }}">show</a>
                    <a href="{{ path('editeur_edit', {'id': editeur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('editeur_new') }}">Create new</a>
{% endblock %}
