{% extends 'base.html.twig' %}

{% block title %}Tâches à faire{% endblock %}

{% block body %}
   {% include 'layout/navbar.html.twig' %}
   <div class="container mb-100 ">
        <h1>Tâches à faire</h1>
        <table class="table">
            <thead>
                <tr class='table_head'>
                    <th>Pour</th>
                    <th>Client</th>
                    <th>Appareil</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for tache in taches | sort((a, b) => b.date <=> a.date) %}
                
                {% set counter = ( counter | default(0) ) + 1 %}
                {% if counter % 2 %}
                    <tr class='ligne_tache tr_no_color select'>
                {% else %}
                    <tr class='ligne_tache tr_color select'>
                {% endif %}
                    <td>{{ tache.user.login }}</td>
                    <td>{{ tache.appareil.client.nom }} {{ tache.appareil.client.prenom }}</td>
                    <td>{{ tache.appareil.marque }} {{ tache.appareil.modele }}</td>
                    <td>{{ tache.description|striptags|length > 30 ? tache.description|striptags|slice(0, 30) ~ '....' : tache.description|striptags }}</td>
                    <td>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" title="Afficher les informations client"  data-bs-target="#cardClient{{tache.appareil.client.id}}">
                            <i  width='25%' class="bi bi-person-bounding-box show-info-client"></i>
                        </button>
                        <a title="Modifier cette tâche" class="btn btn-secondary" href="{{ path('tache_edit', {'id': tache.id}) }}"><img class="edit" width='25px' src="{{asset('./images/icon-edit.png')}}"/></a>
                        {% if  tache.do %}
                                <a title="Retirer la tache" class="btn btn-warning tache-non-fait" value="{{ tache.do }}" href="{{ path('tache_do', {'id': tache.id}) }}"><i class="bi bi-x-square-fill white"></i></a>
                        {% else %}
                                <a title="Tâche réalisé" class="btn btn-success tache-fait " value="{{ tache.do }}" href="{{ path('tache_do', {'id': tache.id}) }}"><i class="bi bi-check-square-fill"></i></a>
                        {% endif %}
                    </td>
                </tr>
                {{ include('client/modal/modal.html.twig') }}
            {% else %}
                <tr>
                    <td colspan="3" class="white">En attente de nouvelles tâches...</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
