{% extends 'base.html.twig' %}

{% block title %}Clients{% endblock %}

{% block body %}
    {% include 'layout/navbar.html.twig' %}
    <div class="container-fluid container-clients mb-100">
            <h1 >Clients</h1>
            <div class="row mt-5">
                <div class="col tab-filtre">
                    <div class="card mb-5" >
                        <div class="card-body">
                            <h5 class="card-title">Filtrer par date</h5>
                            {{ include('client/filtre/_date_form.html.twig') }}
                        </div>
                    </div>
                    <div class="card" >
                        <div class="card-body">
                            <h5 class="card-title">Filtrer par etat</h5>
                            {{ include('client/filtre/_etat_form.html.twig') }}
                    </div>
                </div>
                
            </div>
                <div class="col allClients" style="">
                    <table class="table">
                        <thead>
                            <tr class='table_head'>
                                <th class='h-date'>Date</th>
                                <th class='h-civil'>Personne</th>
                                <th class='h-nom' >Nom</th>
                                <th class='h-prenom' >Prenom</th>
                                <th class='h-telephone' >Télephone</th>
                                <th class='h-maque' >Marque</th>
                                <th class='h-modele'>Modele</th>
                                <th class='h-ns' >Numero de serie</th>
                                <th class='h-mdp' >Mot de passe</th>
                                <th class='h-chargeur' >Chargeur</th>
                                <th class='h-etat' >Etat</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                    
                        {% for client in clients | sort((a, b) => b.date <=> a.date) %}
                            {% set counter = ( counter | default(0) ) + 1 %}
                            {% if counter % 2 %}
                                <tr class='tr_no_color select'>
                            {% else %}
                                <tr class='tr_color  select'>
                            {% endif %}
                                <td class="td-date h-date">{{ client.date|date('D d M')|format_datetime('medium','none',locale='fr') }}</td>
                                <td class='h-civil' >{{ client.personne }}</td>
                                <td class='h-nom' >{{ client.nom }}</td>
                                <td class='h-prenom' >{{ client.prenom }}</td>
                                <td class='h-telephone' >{{ client.tel }} </td>
                                <td class='h-maque' >{{ client.appareil.marque }} </td>
                                <td class='h-modele'>{{ client.appareil.modele }} </td>
                                <td class='h-ns' >{{ client.appareil.ns }} </td>
                                <td class='h-mdp'>{{ client.appareil.mdp }} </td>
                                {% if client.appareil.chargeur == 1 %}
                                <td class='h-chargeur'> <img  class='check' src="{{asset('./images/check.png')}}" width="40px"/></td>
                                {% else %}
                                <td  class='h-chargeur'>  <img  class='cross' src="{{asset('./images/cross.png')}}" width="40px"/></td>
                                {% endif %}
                                {% if client.appareil.editeur.etat.statut is defined %}
                                <td class='statutAppareilAll h-etat'> 
                                    <span class="badge badge-statut-appareil" style="font-size:16px"> {{ client.appareil.editeur.etat.statut}} </span>
                                </td>
                                {% else %}
                                <td>  </td>
                                {% endif %}
                                

                                <td class="td-button" style="min-width:150px">
                                    <button type="button" title="Afficher les informations client" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cardClient{{client.id}}">
                                        <i  width='25%' class="bi bi-person-bounding-box show-info-client"></i>
                                    </button>
                                    {{ include('client/_delete_form.html.twig') }}
                                </td>
                            </tr>
                            {{ include('client/modal/modal.html.twig') }}
                        {% else %}
                            <tr>
                                <td colspan="12" class='white'>En attente de clients...</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <a  class="btn btn-success" href="{{ path('client_new') }}"><img class="delete" width='28px' src="{{asset('./images/icon-add.png')}}"/></a>
                </div>
                </div>
                <div class='loaderAllClients'> <div class='black-h'>{{ include('layout/loader.html.twig') }} </div></div>
            </div>
    {% include 'layout/footer.html.twig' %}
{% endblock %}
