<h3>Confirmation de votre demande d'intervention à domicile</h3>
<p>Bonjour, {{nom}} {{prenom}} </p>
<p>
    Nous vous remercions de faire appel à notre équipe, nous confirmons votre demande d'intervention à domicile à l'adresse suivante : 
</p>
<p>   
{{ adresse }} {{cp}}
</p>
<p>
 Le : <div style="font-size : 21 ; font-weight : bold; color : red;"> {{date|date('d-m-Y H:i:s ')}}</div>  

<p>
    Si vous souhaitez annuler ou modifier cette intervention merci de nous contactez le plus rapidement possible au 01.34.15.52.32
</p>
--------------------------------
</p>
<p>
AZERTY Solutions Informatiques
</p>
<p>
38 rue de la station 95130, Franconville
</p>
<p>
01.34.15.52.32
</p>