<img src="cid:asi">
<h3>Merci de nous faire confiance</h3>

<p>Bonjour
	{{personne}}
	{{prenom}}
	{{nom}},
</p>
{% if etat == 'Pris en charge' %}
	<p>
		Votre appareil vient d'être pris en charge par nos techniciens.
		        Nous vous informerons de chaque étape liés à la prise en charge de votre appareil.
	</p>
	<img src="cid:etat">
{% elseif etat == 'Devis envoyée' %}
	<p>
		AZERTY Solutions Informatiques à diagnostiqué votre appareil et vous informent qu\'un devis vous a été envoyé par mail.
		        Si vous n'avez pas reçu votre devis, veuillez consulter vos spams.
	</p>
	<h5>Le devis est gratuit si votre appareil est réparé dans nos locaux
	</h5>
	<p>
		En effet, si le devis vous convient vous payerez seulement la somme indiquée sur le devis.
		        Toutefois, en cas de désaccord avec ce devis, vous avez la possibilité de refuser ce devis et vous payerez seulement la somme de 30 € liées au diagnostic de votre appareil.
	</p>
	<img src="cid:etat">
{% elseif etat == 'En attente de pièce' %}
	<p>AZERTY Solutions Informatiques est en attente d'une pièce commandée pour rendre votre appareil opérationnel.</p>
	<p>Une fois reçue, nos techniciens pourrons commencer la réparation de votre appareil.
		        Nous vous informerons de chaque étape liés à la prise en charge de votre appareil.</p>
	<img src="cid:etat">
{% elseif etat == 'En cours de réparation' %}
	<p>
		Votre appareil est en cours de réparation par nos techniciens.
		        Nous vous informerons de chaque étape liés à la prise en charge de votre appareil.
	</p>
	<img src="cid:etat">
{% elseif etat == 'Prêt à être récupéré' %}
	<p>
		AZERTY Solutions Informatiques est heureux de vous annoncer que votre appareil est prêt à être récuperé.
		        Sans nouvelles de votre part à partir de 30 jours dès réception de ce mail, nous recyclons votre appareil.
	</p>
	<p>
		<b>Horaire d'ouverture :
		</b>De 9h à 19h
	</p>
	<p>
		<b>
			Adresse de récuperation de votre appareil :
		</b>38 rue de la Station Interphone 17, 95130 Franconville
	</p>
	<img src="cid:etat">
{% elseif etat == 'Livré' %}
	<p>
		Merci d'avoir fait confiance à AZERTY Solutions Informatiques. 
		        Si vous avez bien reçu votre appareil et que vous êtes satisfait de notre travail n'hésitez pas à donner une note sur<a href="https://www.google.com/search?q=azerty+solutions+informatiques&sxsrf=ALeKk02eVJbX_tE7972gR-Cn4zFqWvNrAw%3A1620743094199&source=hp&ei=tpOaYKDwCcXggweK3IXYBA&iflsig=AINFCbYAAAAAYJqhxoCVe1FJpslRDtIC2cQWBa2dawvN&oq=azert&gs_lcp=Cgdnd3Mtd2l6EAMYATIECCMQJzIICAAQxwEQrwEyBQgAELEDMgIIADICCC4yAggAMgIIADICCAAyAggAMgIIADoHCCMQ6gIQJzoICAAQsQMQgwE6DggAELEDEIMBEMcBEKMCOgQILhBDOgQIABBDOgUILhCxAzoHCC4QsQMQQ1CGDFjBEmCDHmgBcAB4AIABzAGIAdwDkgEFNC4wLjGYAQCgAQGqAQdnd3Mtd2l6sAEK&sclient=gws-wiz#lrd=0x47e6670ec216aaab:0xab1a76ada69c8193,1,,,">Google</a>.
			        Ainsi vous indiquerez aux autres membres ce que vous pensez d'AZERTY Solutions Informatiques.
	</p>
	<img src="cid:etat">
{% endif %}

{% if etat != 'Devis envoyée' %}
	<h3 style='color:blue; margin-top : 10px' >Votre appareil est : {{etat}}</h3>
{% else %}
	<h3 style='color:blue;  margin-top : 10px'>Un devis vous à été envoyée</h3>
{% endif %}

<div>
	<div>
		<h4>
			Information personnel</h4>
		<p>
			<b>Nom :
			</b>
			{{nom}}</p>
		<p>
			<b>Prénom :</b>
			{{prenom}}</p>
		<p>
			<b>Mail :</b>
			{{mail|raw}}</p>
		<p>
			<b>Téléphone :</b>
			{{tel}}</p>
		<p>
			<b>Rue :</b>
			{{rue}}</p>
		<p>
			<b>Code Postal :</b>
			{{cp}}</p>
		<p>
			<b>Ville :</b>
			{{ville}}</p>
	</div>
	<div>
		<h4>Déscription de votre appareil
		</h4>
		<p>
			<b>Marque :</b>
			{{marque}}</p>
		<p>
			<b>Modele :</b>
			{{modele}}</p>
		<p>
			<b>Numero de série :</b>
			{{ns}}</p>
	</div>
</div>
<div>
	{% include 'emails/layout/footer.html.twig' %}
</div>
