<h1>Dépot chez AZERTY Solutions Informatiques</h1>
<p>Bonjour, {{personne}} {{nom}} {{prenom}} </p>
<p>Merci d'avoir renseigné le formulaire de dépôt pour la prise en charge de votre 
{{marque}} {{modele}}. Nous vous communiquerons
chaque points d'avancements liés à votre appareil.
 </p>

<h3> Information personnel</h3>
<p>Nom : {{nom}}</p>
<p>Prénom : {{prenom}}</p>
<p>Mail : {{mail|raw}}</p>
<p>Téléphone : {{tel}}</p>
<p>Rue : {{rue}}</p>
<p>Code Postal : {{cp}}</p>
<p>Ville : {{ville}}</p>

<h3>Déscription de votre appareil </h3> 
<p>Marque : {{marque}}</p>
<p>Modele : {{modele}}</p>
<p>Numero de série : {{ns}}</p>

{% include 'emails/layout/footer.html.twig' %}