<h3>Changement de date d'intervention à domicile</h3>
<p>Bonjour, {{nom}} {{prenom}} </p>
<p>
    Nous avons bien reçu votre demande d'intervention à l'adresse : {{ adresse }} avec la nouvelle date d'intervention : 
</p>
<p>
 <div style="font-size : 21 ; font-weight : bold; color : red;"> {{date|date('d-m-Y  H:i')}}</div>  
</p>
<p>
   Vous recevrez un mail sous peu de confirmation de ce rendez-vous de notre part ou une nouvelle suggestion de date. 
   Si vous souhaitez annuler ou modifier cette intervention merci de vous rendre sur ce <a href="https://site-interne.alwaysdata.net/rdv/public/{{id}}" target="_blank" >lien</a> ou nous contacter le plus rapidement possible au 01.34.15.52.32
</p>
--------------------------------
</p>
<p>
AZERTY Solutions Informatiques
</p>
<p>
38 rue de la station 95130, Franconville
</p>
<p>
01.34.15.52.32
</p>