<h3>Changement de date d'intervention à domicile</h3>
<p>Bonjour, {{nom}} {{prenom}} </p>
<p>
    Nous avons bien reçu votre demande d'intervention à l'adresse : {{ adresse }} , toutefois nous vous suggérons une nouvelle date d'intervention : 
</p>
<p>
 <div style="font-size : 21 ; font-weight : bold; color : red;"> {{date|date('d-m-Y  H:i')}}</div>  
</p>
<p>
   Si cette date vous convient merci de nous confirmer en cliquant <a href="https://site-interne.alwaysdata.net/rdv/public/{{id}}" target="_blank">ici</a> ou nous contacter le plus rapidement possible au 01.34.15.52.32
</p>
--------------------------------
</p>
<p>
AZERTY Solutions Informatiques
</p>
<p>
38 rue de la station 95130, Franconville
</p>
<p>
01.34.15.52.32
</p>