{% extends 'base.html.twig' %}

{% block title %}Prioritaire{% endblock %}

{% block body %}
 {% include 'layout/navbar.html.twig' %}
        <div class="container mb-100">
            <h1>Clients Prioritaires</h1>
           
            <table class="table">
                <thead>
                    <tr class='table_head'>
                        <th class="h-date-c ">Date</th>
                        <th class="h-civil-c">Personne</th>
                        <th class='h-nom-c' >Nom</th>
                        <th class='h-prenom-c'>Prenom</th>
                        <th class='h-telephone-c' >Télephone</th>
                        <th class='h-maque-c' >Marque</th>
                        <th class='h-modele-c'>Modele</th>
                        <th class='h-chargeur-c'>Chargeur</th>
                        <th class='h-etat-c'>Etat</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
            
                {% for prioritaire in prioritaires  %}
                    {% set counter = ( counter | default(0) ) + 1 %}
                    {% if counter % 2 %}
                        <tr class='tr_no_color select'>
                    {% else %}
                        <tr class='tr_color  select'>
                    {% endif %}
                         <td class="h-date-c ">{{ prioritaire.appareil.client.date|date('d M Y H:i')|format_datetime('medium','short',locale='fr') }}</td>
                         <td class="h-civil-c" >{{ prioritaire.appareil.client.personne }}</td>
                        <td class='h-nom-c' >{{ prioritaire.appareil.client.nom }}</td>
                        <td class='h-prenom-c'>{{ prioritaire.appareil.client.prenom }}</td>
                        <td  class='h-telephone-c' >{{ prioritaire.appareil.client.tel }} </td>
                        <td class='h-maque-c' >{{ prioritaire.appareil.marque }} </td>
                        <td class='h-modele-c'>{{ prioritaire.appareil.modele }} </td>
                        {% if prioritaire.appareil.chargeur == 1 %}
                        <td class='h-chargeur-c'> <img  class='check' src="{{asset('./images/check.png')}}"/></td>
                        {% else %}
                        <td class='h-chargeur-c'>  <img  class='cross' src="{{asset('./images/cross.png')}}"/></td>
                        {% endif %}
                        {% if prioritaire.appareil.editeur.etat.statut is defined %}
                            <td class='h-etat-c statutAppareilAll'> <span class="badge" id='change-statut{{prioritaire.appareil.client.id}}' style="font-size:16px"> {{ prioritaire.appareil.editeur.etat.statut}} </span> </td>
                        {% else %}
                        <td>  </td>
                        {% endif %}
                        <td class="td-button">
                            {{ include('prioritaire/_delete_form.html.twig') }}
                            
                           <button type="button" title="Afficher les informations client" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cardClient{{  prioritaire.appareil.client.id}}">
                                <i  width='25%' class="bi bi-person-bounding-box show-info-client"></i>
                            </button>
                        </td>
                    </tr>
                    {{ include('client/modal/modal.html.twig') }}
                {% else %}
                    <tr>
                        <td colspan="12" class='white'>En attente de clients prioritaire...</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            
            <a  class="btn btn-success btn-lg" href="{{ path('client_new') }}"><img class="delete" width='28px' src="{{asset('./images/icon-add.png')}}"/></a>
        </div>
        {% include 'layout/footer.html.twig' %}

{% endblock %}
